* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 100%;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;
  background-color: #111827;

  position: sticky;
  top: 0;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

/* HERO */

.hero {
  min-height: 90vh;

  display: flex;
  align-items: center;

  padding: 0 10%;
}

.hero-text h1 {
  font-size: 60px;
  color: #38bdf8;
}

.hero-text h2 {
  font-size: 32px;
}

.hero-text h3 {
  margin-top: 10px;
  color: #cbd5e1;
}

.hero-text p {
  margin-top: 20px;
  max-width: 600px;
  line-height: 1.8;
  color: #94a3b8;
}

.buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;

  background-color: #38bdf8;
  color: black;

  font-weight: bold;
  cursor: pointer;
}

.secondary {
  background-color: transparent;
  border: 2px solid #38bdf8;
  color: white;
}

/* SECTIONS */

.section {
  padding: 80px 10%;
}

.section h2 {
  margin-bottom: 30px;
  color: #38bdf8;
}

/* SKILLS */

.skills-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 20px;
}

.card {
  background-color: #1e293b;

  padding: 30px;

  border-radius: 12px;

  text-align: center;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);

  background-color: #334155;
}

/* MOBILE */

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero {
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}
